{% extends "base.html.twig" %}


{% block title %}
	<h1>S up?</h1>
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="jumbotron">
			<h1 class="display-4">Bienvenue sur projectRecette!</h1>
			<p class="lead">Ceci est une simple WebApp permettant de créer des recettes, utilisant symphony 6.</p>
			<hr class="my-4">
			<p>Rendez-vous sur la page d'authentification pour démarrer.</p>
			<a class="btn btn-primary btn-lg" href="#" role="button">Inscrivez-vous</a>
		</div>
	</div>

{% endblock %}
